<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Gym Social</title>
</head>
<body>
    <header class="top-bar">
        <p>Gym Social</p>
        <div class="right-buttons">
            <a href="{{ url_for('landing') }}" class="top-menu-btn">Home</a>
            <a href="{{ url_for('my_routines') }}" class="top-menu-btn">My Routines</a> 
            <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
        </div>
    </header>
    <main>
        <div class="side-menu">
            <a href="{{ url_for('landing', body_part='chest') }}" class="menu-btn">Chest</a>
            <a href="{{ url_for('landing', body_part='legs') }}" class="menu-btn">Legs</a>
            <a href="{{ url_for('landing', body_part='arms') }}" class="menu-btn">Arms</a>
            <a href="{{ url_for('landing', body_part='back') }}" class="menu-btn">Back</a>
            <a href="{{ url_for('landing', body_part='shoulders') }}" class="menu-btn">Shoulders</a>
            <a href="{{ url_for('landing', body_part='abs') }}" class="menu-btn">Abs</a>
        </div>               
        <section id="feed">
            <div class="box create-post">
                <form action="{{ url_for('create_post') }}" method="post">
                    <textarea name="content" placeholder="Write your gym routine..."></textarea>
                    <select name="body_part">
                        <option value="chest">#Chest</option>
                        <option value="legs">#Legs</option>
                        <option value="arms">#Arms</option>
                        <option value="back">#Back</option>
                        <option value="shoulders">#Shoulders</option>
                        <option value="abs">#Abs</option>
                    </select>                    
                    <input type="submit" value="Create Post">
                </form>
            </div>
            
            {% for post in posts %}
            <div class="box post">
                <p class="username">{{ post.username }}</p>
                <p class="body_part">#{{ post.body_part }}</p>
                <p class="content">{{ post.content }}</p>
                <div class="like-section">
                    <a href="#" class="like-button" data-post-id="{{ post.id }}">Like</a>
                    <p class="likes-count" data-post-id="{{ post.id }}">{{ post.likes }} likes</p>                    
                </div>
            </div>
            {% endfor %}
        </section>
    </main>
    <script>
        const textarea = document.querySelector('textarea[name="content"]');
        textarea.addEventListener('input', function() {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';
        });
    </script>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        let likeButtons = document.querySelectorAll(".like-button");
        likeButtons.forEach(button => {
            button.addEventListener("click", function(event) {
                event.preventDefault();
                let postId = button.getAttribute("data-post-id");
                fetch(`/like_post/${postId}`, {
                    method: 'POST'
                })
                .then(response => response.json())
                .then(data => {
                    if(data.success) {
                        let likesCountElem = document.querySelector(`.likes-count[data-post-id="${postId}"]`);
                        likesCountElem.textContent = `${data.likes} likes`;
                    } else {
                        alert(data.message);
                    }
                });
            });
        });
    });
    </script>
</body>
</html>
